[submodule "microservices/ordering"]
	path = microservices/ordering
	url = git@github.com:rss-design/ems-algashop-ordering.git
	branch = main
[submodule "docs"]
	path = docs
	url = git@github.com:rss-design/ems-algashop-docs.git
	branch = main
[submodule "microservices/billing"]
	path = microservices/billing
	url = git@github.com:rss-design/ems-algashop-billing.git
	branch = main
[submodule "microservices/product-catalog"]
	path = microservices/product-catalog
	url = git@github.com:rss-design/ems-algashop-product-catalog.git
	branch = main
[submodule "template"]
	path = template
	url = git@github.com:rss-design/ems-algashop-template.git
	branch = main
